.App {
  display: flex;
  justify-content: center;

  box-sizing: border-box;
}

.container {
  width: 60%;
  padding: 20px;
}

form {
  margin-top: 50px;
}

form, ul {
  text-align: center;
}

ul {
  list-style-type: none;
}

li span {
  margin-right: 20px;
}

.search__box {
  margin: 50px 0;
}

.search__box input {
  width: 100%;
  padding: 10px 5px;
}